* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#color-picker-container {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1rem;
}

[type="color"] {
  border: 0;
  padding: 0;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transform: translate(-25%, -25%);
}
